body {
  background-color: ivory;
  border-top: 50px solid cornflowerblue;
  border-bottom: 50px solid cornflowerblue;
  margin: 0;
}

main {
  display: flex;
}

.menu {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  color: cornflowerblue;
}

.menu__item {
  width: max-content;
}

.btn {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #4830f0 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.btn:hover {
  background-position: right center;
}

.arrow-btn {
  font-size: 20pt;
  padding: 10px 20px;
}
